@charset "UTF-8";

/* TODAS AS MÍDIAS */

/* 
-Typical Devices Breakpoints-

Pequenas telas: até 600px
celular: 600px até 768px
Tablet: 769px até 992px
Desktop: 993px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: url('../imagens/back-tablet.jpg');
    }
    #phone { display: none; }
    #tablet { display: block; }
    #print { display: none; }
    #pc { display: none; }
    #tv { display: none; }

}

@media screen and (min-width: 993px) and (max-width: 1200px) { /* Desktop */
    body {
        background-image: url("../imagens/back-pc.jpg");
    }
    #phone { display: none; }
    #tablet { display: none; }
    #print { display: none; }
    #pc { display: block; }
    #tv { display: none; }
}

@media screen and (min-width: 1201px){ /* Grandes Telas */
    body {
        background-image: url('../imagens/back-tv.jpg');
    }
    #phone { display: none; }
    #tablet { display: none; }
    #print { display: none; }
    #pc { display: none; }
    #tv { display: block; }
}

@media print { /* Impressão */
    main h1 {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
    
    main {
        border: 2px solid black;
    }

    main::after {
        content: 'esse site foi impresso';
        text-decoration: overline;
    }
    #phone { display: none; }
    #tablet { display: none; }
    #print { display: block; }
    #pc { display: none; }
    #tv { display: none; }
}